.ball {
    animation: float 3.89s ease infinite;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    line-height: 100px;
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: radial-gradient(
      circle at 75% 30%,
      #2D1666 5px,
      #4E3094 8%,
      #BC1B82 60%,
      #FF8262 100%
    );
    box-shadow: inset 0 0 20px #56399b, inset 10px 0 46px #56399b,
      inset 88px 0px 60px #2D1666, inset -20px -60px 100px #56399b,
      inset 0 50px 140px #4E3094, 0 0 70px #56399b;
  }
.ball img{
    width: 22px;
}
  
    @keyframes float{
        0%{
            transform: translate(0, 0px);
        }
        50%{
            transform: translate(0, 25px);
        }
        100%{
            transform: translate(0, -0px);
        }
    }

    .pos1{
        top: 0%;
        left: 63%;
        transform: translate(-50%, -50%);
        animation: float 4.2s ease infinite;
    }
    .pos2{
        top: 28%;
        left: -23%;
        transform: translate(-50%, -50%);
        animation: float 4.6s ease infinite;
    }
    .pos3{
        top: 12%;
        left: 28%;
        transform: translate(-50%, -50%);
        animation: float 5.1s ease infinite;
    }
    .pos4{
        top: 20%;
        left: 102%;
        transform: translate(-50%, -50%);
        animation: float 5.5s ease infinite;
    }
    .pos2 span, .pos3 span, .pos4 span{
        margin-left: 3px;
    }