:root{
    --P1: linear-gradient(90deg, rgb(222, 165, 229) 0%, rgb(160, 209, 255)100%);
}

.P1{
    background-image: var(--P1) !important;
}


.EnergyGrad{
    background-image:
      radial-gradient(ellipse at 10% 90%, #0b2423 0%, transparent 55%),
      radial-gradient(ellipse at 90% 90%, #02555b 0%, transparent 55%),
      radial-gradient(ellipse at 90% 10%, #3178fb 0%, transparent 55%),
      radial-gradient(ellipse at 10% 10%, #008eff 0%, transparent 55%),
      radial-gradient(ellipse at 20% 80%, #a252f3 0%, transparent 55%) !important;
}

.EnergyGrad .btn-pos{
    background: linear-gradient(135deg, #02555b, #a252f3) !important;
    box-shadow: 0 0 15px 2px #3178fb;
}
.EnergyGrad .box, .EnergyGrad .boxbig{
    background: #008eff;
}
.EnergyGrad .box-progress{
    background: #0061b1;
}
.EnergyGrad .secondbuy{
    background: linear-gradient(135deg, #02555b, transparent),  #008eff;
}
.EnergyGrad .secondbuy:hover{
    background-color: #0fc9c3;
    box-shadow: 0 0 18px 2px #178b88;
}

.EnergyGrad .ball{
    box-shadow: inset 0 0 20px #3178fb, inset 10px 0 46px #3178fb,
      inset 88px 0px 60px #02555b, inset -20px -60px 100px #a252f3,
      inset 0 50px 140px #a252f3, 0 0 80px #a252f3;
}