*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Barlow", sans-serif;
    letter-spacing: 0.025rem;
}
body{
    color: var(--white);    
}

h5{
    font-weight: 500;
}

:root{
    --white: #fff;
    --black: #1a1a1a;
    --DarkBlue-900: #020716;
    --DarkBlue-800: #091a27;
    --DarkBlue-800-transparent: hsl(206, 63%, 9%, 0.77);
    --blue: #00364B;
    --grey: #C0BFA9;
    --img: 17px; 
    --img-money: 25px;
    --img-energy: 21px;
    --img-water: 19px;
    --green: #00f500;
    --red: #B9121B;
}

header{
    min-height: 70px;   
    position: relative;
    width: 100%;
    background-color: var(--DarkBlue-800);
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ButtonChangeBuyModeText{
    position: absolute;
    right: 1.5%;
    top: 45%;
    background-color: var(--DarkBlue-900);
    color: var(--white);
    padding: .3rem 1.2rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

main{
    display: flex;
    width: 100%;
    height: 92.7vh;
}

.left-content{
    background-color: var(--DarkBlue-900);
    height: 92.7vh;
    padding: 1rem;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.col{
    width: 100%;
    background-color: var(--DarkBlue-800);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.45rem;
    border-radius: 5px;
}


.col-name{
    text-transform: uppercase;
    font-size: 12.5px;
    text-align: center;
    position: relative;
    color: var(--grey) !important;
    margin: 0.20rem 0;
}
.col-name:after{
    content: "";
    height: .5px;
    margin: 0.30rem 0;
    width: 90%;
    background-image: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 5%;
}

.row-group{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.row-display{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    padding: 0.20rem 0;
}
.row-display-sous-categorie{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17%;
    font-size: 12.8px;
    transition: all .3s ease-in-out;
    padding: 0.20rem 0;
}
.row-display h5, .row-display p{
    margin-top: 2px;
}
.row-display img{
    width: var(--img);
    height: var(--img);
    aspect-ratio: auto var(--img)/var(--img);
    margin-right: 5px;
    margin-left: 4px;
}
.money-img{
    width: var(--img-money) !important;
    height: var(--img-money) !important;
    aspect-ratio: auto var(--img-money)/var(--img-money) !important;
}
.energy-img{
    width: var(--img-energy) !important;
    height: var(--img-energy) !important;
    aspect-ratio: auto var(--img-energy)/var(--img-energy) !important;
}
.water-img{
    width: var(--img-water) !important;
    height: var(--img-water) !important;
    aspect-ratio: auto var(--img-water)/var(--img-water) !important;
}

.row{
    color: var(--white);
    font-size: 14px;
    line-height: 1.1rem;
    width: 100%;
}

.row-group .row-display:hover{
    background-color: var(--blue);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.green{
    color: var(--green);
}



.main-content{
    background-color: lightcoral;
    height: 92.7vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(#000000bf,#000000bf), url("../assets/images/12682493_123Z_2101.w020.n001.947B.p15.947.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    flex-direction: column;
    padding: .75rem 2.5rem;
    gap: 2.25rem;
}

.info{
    display: flex;
    padding: .75rem;
    justify-content: space-between;
    max-width: 80%;
}

.content{
    padding: 0.8rem;
    background-color: var(--DarkBlue-800-transparent);
    display: flex;
    width: 300px;
    height: 100px;
    font-size: 17px;
    flex-direction: column;
    gap: 6px;
}

.contentMilestoneBar{
    position: absolute;
    background-color: var(--blue);
    width: 100%;
    height: 4.5px;
    left: 0;
    top: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.milestoneBar{
    width: 80%;
    height: 4.5px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: linear-gradient( 99.9deg, rgb(5, 71, 122) 21.2%, #100772  84.8% );
    transition: all .3s ease-in-out;
}

.display{
    display: flex;
    padding: 0 0.25rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    gap: 10px;
}
.display p{
    margin-left: auto;
}
.display img{
    width: var(--img);
    height: var(--img);
    aspect-ratio: auto var(--img)/var(--img);
}

.ContainerUpgrades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.list{
    width: 100%;
    height: 100%;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list .content{
    width: 650px;
    height: 250px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: .75rem;
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.ContainerOther .content{
    width: 850px;
    height: 270px;
    border-radius: 5px;
    padding: .75rem;
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.contentTitle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.1rem;
}
.contentTitle h2{
    text-align: center;
    line-height: normal;
}
.contentTitle p{
    font-size: 12.5px;
}

.contentBox{
    padding: 0 0.9rem;
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.contentBox p{
    font-size: 12px;
    transition: color .3s ease-in-out;
}
.contentBoxElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 11px;
}
.contentBoxElement .tag{
    margin-bottom: 8px;
}

.economy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.economyTag{
    background-color: var(--DarkBlue-900) !important;
    margin-top: 20px;
    padding: 0.30 .10rem;
}

.progressBarTag{
    padding: 0 !important;
    margin-top: 20px;
    background-color: var(--DarkBlue-900) !important;
    width: 80px !important;
    position: relative;
}

.tag, .economyTag, .progressBarTag{
    background-color: var(--DarkBlue-800);
    padding: 0.20rem .9rem;
    width: auto;
    font-size: 12px;
    border-radius: 30px;
    text-align: center;
    color: var(--grey);
    line-height: normal;
}

.progressBar{
    width: 80%;
    opacity: .5;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    background-color: white;
}

.content button{
    position: absolute;
    bottom: 5%;
    left: 40%;
    background-color: var(--DarkBlue-900);
    color: var(--white);
    padding: .3rem 1.2rem;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    transition: all .4s ease-in-out;
    border: 1px solid #00f500;
}
.content button:hover{
    transition: all .4s ease-in-out;
    background-color: var(--blue);
    border: 1px solid #00f500;
}

.prestige{
    position: initial !important; 
    max-width: 80px;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 29%;
}

.four-point-star::after,
.four-point-star::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\2726";
    font-size: 1.5rem;
    transition: all .3s ease-in-out;
}

.four-point-star::after { /* The foreground star */
    background: linear-gradient(135deg, rgb(135, 134, 147) 20%, #dbdce4 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.four-point-star::before { /* The star shadow */
    color: transparent;
    text-shadow: 2px 3px 10px #9b9292;
}


.four-point-star {
    position: relative;
    width: 20px;
    height: 19px;
    margin-left: 3px;
    margin-right: 3px;
}


.map{
    position: relative;
    width: 930px
}
.map img{
    width: 930px;
}
.waypoint{
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--black);
}
.waypointtext{
    position: absolute;
    visibility: hidden;
    width: 120px;
    background-color: var(--black);
    border-radius: 6px;
}

.france .waypointtext{
    top: -24px;
    left: -50px;
}

.france{
    top: 34%;
    left: 50.1%;
}


.waypoint:hover .waypointtext{
    visibility: visible;
}

.active{
    display: flex;
}

.disabled{
    cursor: not-allowed !important;
    border: 1px solid #B9121B !important;
}
.content .disabled:hover{
    background-color: var(--DarkBlue-900) !important;
    border: 1px solid #B9121B !important;
}