*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Sora", sans-serif;
    letter-spacing: 0.025rem;
    transition: all .3s ease-in-out;
}
body{
    overflow: hidden;
    background: #0A0A0B;
}


.invisible{
    display: none !important;
}

:root{
    --royalBlue-50 : #D9E6FD;
    --royalBlue-100 : #B4CBFC;
    --royalBlue-200 : #8DACF6;
    --royalBlue-300 : #6E91EC;
    --royalBlue-400 : #4169E1;
    --royalBlue-500 : #2F50C1;
    --royalBlue-600 : #203AA2;
    --royalBlue-700 : #142782;
    --royalBlue-800 : #0C1A6C;
    --royalBlue-900 : #0A1557;

    --black: #1c1917;
    --black-900: #292524;
    --black-800: #1c191a;

    --green: #89b747;
    --red: #d52a38;
    --yellow: #fed359;
    --brown: #a88d4e;
    --gray: #c2bebb;

    --color-text-gray: #bcbdbd;
    
}


header .top{
    height: 85px;
    background: var(--black);
    display: flex;
    align-items: center;
}

header .top h1:first-child{
    color: white;
    margin-left: 25px;
    margin-right: 50px;
}

.economy{
    background: rgb(137, 184, 71, 0.20);
     width: 140px;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
    flex-direction: column;
     padding: 6.25px 6.75px 6.25px 0px;
}

.economy div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.economy img{
    max-width: 35px;
    filter: invert(67%) sepia(58%) saturate(416%) hue-rotate(43deg) brightness(89%) contrast(87%);
}

.economy h1{
    font-size: 22px;
    color: var(--green);
}

.economy h2{
    font-size: 10px;
    color: var(--green);
}

.onglet{
    opacity: 0;
    display: none;
    flex-direction: column;
    gap: 35px;
}

.onglet_active{
    opacity: 1;
    display: flex;
}


.grid_economy{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 6px;
}

.grid_economy .economy{
    width: 80px;
    height: 30px;
    border-radius: 8px;
}

.grid_economy .economy img{
    max-width: 20px;
}

.grid_economy .economy h1{
    font-size: 15px;
}

main{
    display: flex;
}

main .side{
    height: 1000px;
    width: 220px;
    padding: 25px 25px 25px 10px;
    background: var(--black);
}

main .side h2{
    font-size: 13px;
    font-weight: 400;
    font-family: "Roboto";
    color: var(--gray);
    margin: 0.6rem 0 0.6rem 15px;
}

main .side .content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 106px 0.75rem 1.5rem;
    border-radius: 12px;
    cursor: pointer;
    gap: 0.6rem;
    margin: 5px 0 5px 0;
}

main .side img{
    max-width: 15px;
    filter: invert(100%) sepia(5%) saturate(1268%)
     hue-rotate(175deg) brightness(99%) contrast(97%);

}

main .side h1{
    font-size: 18px;
    color: #f6f7f8;
    font-weight: 600;
    max-width: 50px;
}


main .side .content:hover, .side-selected{
    background: #25324A;
}

main .side .content:hover .contenth1, .side-selected .contenth1{
    color: #3B8FEE;
}

main .side .content:hover .contentimg, .side-selected .contentimg{
    filter: invert(49%) sepia(87%) saturate(1876%) hue-rotate(191deg) brightness(96%) contrast(95%);
}

.separator{
    width: 90%;
    margin-left: 10px;
    height: 0.06rem;
    background: var(--black-900);
}

main .side .buymode{
    background: rgba(111, 116, 136, 0.2);
    margin-top: 15px;
    border-radius: 0.75rem;
    padding: 0.75rem;
    display: flex;
    justify-content: space-around;
    width: 200px;
    gap: 4px;
}

.buymode button{
    background: transparent;
    border: none;
    color: #83899F;
    font-weight: 500;
    font-size: 13.5px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.45rem 0.65rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.buymode .btn-active{
    background: #3B4350;
}

.buymode button:hover{
    background: #3B4350;
}

.SortBy{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    justify-content: center;
    margin-top: 20px;
}

.SortBy h1, .SortBy button{
    font-size: 17px;
    font-family: "roboto";
    color: var(--color-text-gray) !important;
    cursor: pointer;
    white-space: nowrap;
    max-width: 100% !important;
}

.SortBy button{
    background: var(--black-900);
    border-radius: 12px;
    padding: 4px 8px;
    border: none;
    font-size: 14px;
    color: #f6f7f8;
}

.Btn-Toggled div:first-child button{
    border-radius: 0px;
}
.Btn-Toggled:active{
    transform: scale(1) !important;
}

.Btn-Toggled ul{
    display: block !important;
}

.SortBy ul{
    position: absolute;
    display: none;
    top: 25px;
    left: 67px;
    border: 1px solid var(--black-800);
    z-index: 9999999;
    list-style: none;
    background: var(--black-900);
    padding: 6px;
}

.SortBy ul li{
    white-space: nowrap;
    color: #f6f7f8;
    line-height: 1.6rem;
    cursor: pointer;
    padding: 0px 4px;
}

.SortBy ul li:hover{
    background: var(--royalBlue-400);
    border-radius: 3px;
}

.tuto{
    color: var(--royalBlue-200);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
    font-family: "Poppins";
}

.tuto:hover{
    color: var(--royalBlue-300);
}

.tuto:link{
    color: var(--royalBlue-400);
}


/*PARTIE DES FENETRES DE JEU*/
/*

 */

.game{
    margin-left: 30px;
    margin-top: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_small{
    display: flex;
    justify-content: end;
    gap: 20px;
    position: relative;
}

.flex_justify{
    display: flex;
    align-items: center;
}

.search-bar{
    border-radius: 50px;
    background: #2F50C1;
}


.col_absolute{
    position: absolute;
    width: 110%;
    height: 66px;
    background: white;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.col_black{
    background: var(--black-900);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 25px;
    border-radius: 15px;
    gap: 10px;
}

.col_black_big{
    width: 190px;
}

.col_black_small{
    width: 150px;
}

.col_black h1, .col_black h2{
    color: var(--gray);
    font-size: 24px;
}

.col_black h2{
    font-size: 17px !important;
    text-align: center;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sep_5px{
    height: 5px;
    width: 100%;
    background: var(--black-800);
    border-radius: 5px;
}

.sep_3px{
    height: 3px;
    width: 90%;
    background: #5F5F5F;
    border-radius: 3px;
}


.search-content .search-bar{
    background: #3d3b3a;
    width: 95%;
    height: 30px;
    position: absolute;
    bottom: -37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1px solid #555555;
}

.search-bar input{
    background: transparent;
    border-radius: 15px;
    height: 100%;
    border: none;
    width: 100%;
    color: #f6f7f8;
    padding-left: 10px;
}

.search-bar input:focus-visible{
    border: 1px solid var(--royalBlue-300);
    outline: 0;
}

.game .content .leg{
    display: flex;
    background: var(--black-800);
    width: 95%;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    justify-content: space-around;
}

.game .content .leg p{
    color: var(--color-text-gray);
    font-family: "Roboto";
    font-size: 14px;
    letter-spacing: 1.1px;
}

.game .content .leg p:first-child, .game .content .row h1{
    width: 200px;
    max-width: 200px;
}

.w56{
    width: 56px !important;
    max-width: 56px !important;
}

.w56 img{
    max-width: 19px !important;
}

.w145{
    width: 145px;
    max-width: 145px;
}
.w100{
    width: 150px;
    max-width: 150px;
    text-align: center;
    align-items: center;
}

.w37{
    width: 37px;
    max-width: 37px;
}

.flexBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.game .content .row{
    display: flex;
    position: relative;
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-around;
}

.game .content .row:after{
    content: "";
    position: absolute;
    bottom: -2px;
    background: #555555;
    width: 60%;
    height: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game .content .row h1{
    color: var(--color-text-gray);
    font-size: 20px;
    margin-left: 25px;
}

.game .content .row h2{
    color: #B4CBFC;
    font-size: 18px;
    text-align: center;
}

.game .content .row .w100{
    display: flex;
    flex-wrap: wrap;
}

.game .content .row .w100 div{
    display: flex;
    align-items: center;
    gap: 3.5px;
}
.game .content .row .w100 div img, .game .content .row .w56 img{
    max-width: 15px;
}
.game .content .row .w100 div h1{
    font-size: 13px;
    margin-left: 0;
    max-width: 50px;
    text-align: left;
}

.game .content .row .reqSolo{
    font-size: 13px;
    margin-left: 0;
    color: #B4CBFC;
    justify-content: center;
}



.game .content .row button, .market .content button{
    border: none;
    width: 4rem;
    height: 1.75rem;
    border-radius: 4px;
    background: linear-gradient(-45deg, #3529e7, #9046ff, #cb5ef5, #b68bf4 );
    background-size: 660%;
    animation: gradient 16s linear infinite;
    font-family: "Poppins";
    cursor: pointer;
}

.game .content .row button:hover{
    box-shadow: 0 0 10px #3529e7;
}

.sideright{
    width: 125px;
    height: 1000px;
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideright:hover{
    width: 175px;
}

.sideright .economy{
    width: 100%;
    padding: 0;
    border-radius: 0;
    gap: 0;
}

.sideright .economy h1:first-child{
    text-align: right;
    margin-left: 5px;
}

.sideright .economy h1:last-child{
}

.sideright .economy h1{
    font-size: 11px;
    width: 100%;
}

.sideright .economy img{
    max-width: 15px;
}

.BuildingLocked, .BuildingLocked div{
    display: flex;
    width: 100%;
    height: 560px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BuildingLocked div{
    height: 70px;
    gap: 10px;
    flex-direction: row;
}

.BuildingLocked h6{
    font-size: 50px;
    letter-spacing: .9px;
    font-weight: 700;
    margin-bottom: 7px;
    color: var(--red);
}

.BuildingLocked img{
    max-width: 50px;
    max-height: 50px;
}

.BuildingLocked p{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text-gray);
    display: flex;
    align-items: center;
}

.BuildingLocked button{
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0;
    font-family: "Barlow";
    text-decoration: underline;
    cursor: pointer;
}


/*PARTIE DU MAGASIN*/


.market{

}

.market .content{
    width: 300px;
    height: 25%;
    padding: 12.5px;
    box-shadow: 0 3px 30px rgba(255, 255, 255, 0.1);
    justify-content: space-around;
}

.market .content img{
    max-width: 75px;
}

.market .content h1{
    color: var(--color-text-gray);
    margin-bottom: 10px;
}

.market .content div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 7.5px;
    margin-bottom: 10px;
}

.market .content p{
    color: var(--royalBlue-100);
}
.market .content p span{
    font-weight: 600;
    font-size: 16px;
}

.market .content button{
    width: 7.2rem;
    height: 2.35rem;
    border-radius: 0.75rem;
    position: relative;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}

.market .content button:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    content: '';
    display: block;
    border-radius: 0.75rem;
}

.market .content button:hover::before{
    animation: button-hover 1.25s infinite linear;
}

.market .content .anim_green:hover::before{
    animation: button-hover_green 1.25s infinite linear !important;
}
.market .content .anim_red:hover::before{
    animation: button-hover_red 1.25s infinite linear !important;
}



/*PARTIE DES RESSOURCES*/

.ressources{
    flex-wrap: wrap;

}

.ressources .content{
    width: 450px;
    height: 250px;
    background: transparent;
}

.ressources .content img:first-child{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    filter: blur(0.5px);
    z-index: 0;
    top: 0;
    left: 0;
}

.ressources .content button{
    border: 2px solid #71FF7F;
    border-radius: 0.8rem;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 30px rgb(95, 166, 54, 0.6);
}

.ressources .content button span{
    z-index: 1;
    position: fixed;
    font-family: "Montserrat";
    color: #f6f7f8;
    font-size: 20px;
    letter-spacing: 1.1px;
    font-weight: 600;
}

button:active{
    transform: scale(0.95);
}

.ressources .content button:hover{
    box-shadow: 0 3px 45px rgb(95, 166, 54, 0.7);
}





/*Partie de recherche*/

.research_onglet{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
    align-items: center;
}

.research{
    background: #312e2d;
    padding: 10px 15px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.research:hover .research_details, .research_details:hover{
    display: flex;
}

.research_details{
    width: 250px;
    position: absolute;
    z-index: 9999;
    background: var(--black-900);
    left: 85%;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    top: 76%;
    padding: 10px 13px;
    display: none;
    flex-direction: column;
    gap: 15px;
    cursor: default;
}

.research_details p{
    color: #f6f7f8;
    font-family: "Poppins";
    font-size: 12px;
}

.research_details .big_box, .research_details .box{
    display: flex;
    gap: 5px;
}

.research_details .box:first-child{
    max-height: 69px;
}

.research_details .big_box{
    justify-content: center;
}

.research_details img{
    max-width: 17px !important;
    max-height: 17px !important;
}

#Research2 img{
    max-width: 55px;
    max-height: 55px;
    transform: rotate(10deg);
}

.research_details h1:first-child{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text-gray);
}

.research_details .box{
    background: var(--black-800);
    padding: 10px 15px;
    border-radius: 5px;
    flex-direction: column;
    align-items: center;
}

.research_details .box p{
    font-weight: 600;
    letter-spacing: 0.9px;
    font-size: 12.5px;
}

.research_details .box span, .research_details .w100 h1{
    font-size: 13.5px;
    font-weight: 400;
    font-weight: 500;
}

.research_details .separator{
    background: #555555;
    margin: 0;
    width: 95%;
    margin-bottom: 1px;
}

.research_details .w100{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.research_details .w100 div{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.research_details button{
    max-width: 120px;
    padding: 6px 15px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    font-family: "Poppins";
    cursor: pointer;
    margin: 6px 0 6px 50px;
}

.research_details .unlocked{
    display: flex;
    align-items: center;
    gap: 3px;
}

.research_details .unlocked h1{
    color: var(--green);
    font-size: 23px;
    letter-spacing: .9px;
    font-weight: 600;
}

.research_details .unlocked img{
    max-width: 23px;
    max-height: 23px;
}

.research_attach{
    width: 3px;
    height: 80px;
    background: #f6f7f8;
    border-radius: 1px;
}

.research_details .w100 h1{
    font-size: 13px;
    color: #f6f7f8;
}



@keyframes gradient{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

