*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    color: var(--white);    
}

h5{
    font-weight: 500;
}

:root{
    --white: #fff;
    --black: #1a1a1a;
    --DarkBlue-900: #020716;
    --DarkBlue-800: #091a27;
    --DarkBlue-800-transparent: hsl(206, 63%, 9%, 0.77);
    --blue: #00364B;
    --grey: #C0BFA9;
    --img: 19px; 
    --green: #00f500;
}

header{
    min-height: 70px;   
    width: 100%;
    background-color: var(--DarkBlue-800);
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

main{
    display: flex;
    width: 100%;
    height: 92.7vh;
}

.left-content{
    background-color: var(--DarkBlue-900);
    height: 92.7vh;
    padding: 1rem;
    min-width: 325px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.col{
    width: 100%;
    background-color: var(--DarkBlue-800);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0.45rem;
    border-radius: 5px;
}
.col-name{
    text-transform: uppercase;
    font-size: 12.5px;
    text-align: center;
    position: relative;
    color: var(--grey) !important;
    margin: 0.20rem 0;
}
.col-name:after{
    content: "";
    height: .5px;
    margin: 0.30rem 0;
    width: 90%;
    background-image: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 5%;
}

.row-group{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.row-display{
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    padding: 0.20rem 0;
}
.row-display h5, .row-display p{
    margin-top: 2px;
}
.row-display img{
    width: var(--img);
    height: var(--img);
    aspect-ratio: auto var(--img)/var(--img);
    margin-right: 5px;
    margin-left: 4px;
}
.row{
    color: var(--white);
    font-size: 14px;
    line-height: 1.1rem;
    width: 100%;
}

.row-group .row-display:hover{
    background-color: var(--blue);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.green{
    color: var(--green);
}



.main-content{
    background-color: lightcoral;
    height: 92.7vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(#000000bf,#000000bf), url("../assets/images/12682493_123Z_2101.w020.n001.947B.p15.947.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: .75rem 2.5rem;
    gap: 2.25rem;
}

.info{
    display: flex;
    padding: .75rem;
    justify-content: space-between;
    max-width: 80%;
}

.content{
    padding: 0.8rem;
    background-color: var(--DarkBlue-800-transparent);
    display: flex;
    width: 300px;
    height: 100px;
    font-size: 17px;
    flex-direction: column;
    gap: 6px;
}
.display{
    display: flex;
    padding: 0 0.25rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    gap: 10px;
}
.display p{
    margin-left: auto;
}
.display img{
    width: var(--img);
    height: var(--img);
    aspect-ratio: auto var(--img)/var(--img);
}

.ContainerUpgrades{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.list{
    width: 100%;
    height: 100%;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.list .content{
    width: 400px;
    height: 220px;
    border-radius: 5px;
    padding: .75rem;
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.ContainerOther .content{
    width: 850px;
    height: 270px;
    border-radius: 5px;
    padding: .75rem;
    display: flex;
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.contentTitle{
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-height: 1.1rem;
}
.contentTitle h2{
    text-align: center;
    line-height: normal;
}
.contentTitle p{
    font-size: 12.5px;
}

.contentBox{
    padding: 0 0.9rem;
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.contentBox p{
    font-size: 12px;
}
.contentBoxElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: 11px;
}

.tag{
    background-color: var(--DarkBlue-800);
    padding: 0.20rem .9rem;
    width: auto;
    font-size: 12px;
    border-radius: 30px;
    text-align: center;
    color: var(--grey);
    line-height: normal;
}

.content button{
    position: absolute;
    bottom: 5%;
    left: 40%;
    padding: 0.1rem 0.8rem;
    border-radius: 5px;
    background-color: var(--grey);
    border: none;
}

.contentProgressBar{
    width: 300px;
    height: 10px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.progressbar{
    background-color: white;
    height: 10px;
    transition: width .3s ease-in-out;
}
.progressbar:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #004456;
}
.progressbar:nth-child(2){
    background-color: #007476;
}
.progressbar:nth-child(3){
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #25A57F;
}



.active{
    display: flex;
}