.swiper{
    width: 100%;
    height: 100%;
}
.swiper-button-next{
    position: fixed !important;
    top: 91.75% !important;
    left: 72% !important;
    color: rgba(203,230,255,1) !important;
}
.swiper-button-prev{
    position: fixed !important;
    top: 91.75% !important;
    left: 37.2% !important;
    color: rgba(203,230,255,1) !important;
}

.swiper-slide{
    display: flex !important;
    justify-content: space-between;
    background-color: #170d24;
    background-image:
      radial-gradient(ellipse at 10% 90%, #2D1666 0%, transparent 55%),
      radial-gradient(ellipse at 90% 90%, #4E3094 0%, transparent 55%),
      radial-gradient(ellipse at 90% 10%, #BC1B82 0%, transparent 55%),
      radial-gradient(ellipse at 10% 10%, #FE5141 0%, transparent 55%),
      radial-gradient(ellipse at 20% 80%, #FF8262 0%, transparent 55%);
    height: 874px !important;
}


.BlackGrad{}