.swiper{
    width: 100%;
    height: 100%;
}
.swiper-button-next{
    position: fixed !important;
    top: 91.75% !important;
    left: 72% !important;
    color: #1a1a1a !important;
}
.swiper-button-prev{
    position: fixed !important;
    top: 91.75% !important;
    left: 37.2% !important;
    color: #1a1a1a !important;
}

.swiper-slide{
    display: flex !important;
    justify-content: space-between;
    background: #B97B28;
    background: linear-gradient(135deg, #b87621, #5e4023);
    height: 874px !important;
}